/*Global*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap');
*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
h1,
h2, 
h3{
    text-align: center;
    padding: 20px 0;
}

p{
    text-align: justify;
    line-height: 3;
    
}

a{
    text-decoration: none;
}
/*utilities*/
    .bold-text{
    font-weight: 700;
}
    .container{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

/*header*/
header {
    background-color: darkmagenta;
    height: 250px;
}
    
.header-title h1{
background-color: rgb(154, 235, 23);
}
h2 {
    text-transform: uppercase;
    background-color: cornflowerblue;
}

.header-title h1{
    background-color: plum;
    font-size: 40px;
}
.header-title h2{
    background-color: rgb(177, 6, 86);
    font-size: px;
    letter-spacing: 4px;
}

.header-title p{
    text-transform:uppercase;
    font-size: 30px;
    letter-spacing: 3px;
}

nav{
    background-color: rgb(228, 27, 151);
    text-align: center;
    padding: 20px;
    
}
nav a{
color: white;
font-size: 25px;
margin-right: 30px;
letter-spacing: 3px;
}

/*main*/

/*Biography*/
ul li {
    font-size: 18px;
    margin: 40px;
    letter-spacing: 3px;
}
ol li{
    font-size: 10px;
    margin: 40px;
}
/*hobbies*/